# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Local Netlify folder
.netlify

src/content/posts/my-first-post.md
src/content/posts/sample_media.md
src/content/posts/the-art-of-observation.md
src/content/projects/personal-knowledge-system.md
src/content/reports/sample-multimedia.md
src/content/reports/state-of-web-development-2026.md
src/content/reports/test-report.json
src/content/reports/test-report.tex
src/content/notes/demo-features.md
src/content/notes/demo-subpage.md
src/content/notes/sample.tex
src/content/notes/Verisk_CL.md


# reports
/broken-links-report.txt
/MIGRATION_REPORT.md